<div
	style="width: 800px; margin-left: auto; margin-right: auto; font-family: monospace;">
	<div
		style="width: 131px; margin-left: auto; margin-right: auto; padding-bottom: 35px;">
		
		<img
				src="https://rimtrack.com/images/rim.png"
				width="80" height="81" alt="success">

	</div>
	<div
		style="background: #fff url(https://s3.amazonaws.com/flashypublic/mail-header-bg.png) no-repeat top left; padding-top: 40px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; -moz-border-radius-bottomleft: 7px; -moz-border-radius-bottomright: 7px;">
		<div
			style="float: left; width: 80px; display: inline; margin-right: 25px;">
			<img
				src="https://s3.amazonaws.com/flashypublic/mail-delivery-success.png"
				width="80" height="81" alt="success">
		</div>
		<div style="float: left; display: inline; width: 484px;">
			<h2
				style="font-size: 22px; color: #8F9945; padding: 0px; margin-bottom: 5px margin-top:15px; font-weight: lighter;">Informations
				d'authentification</h2>

			<h3>Bienvenu [FULLNAME], vous trouverez ci-dessous tes
				informations d'authentification</h3>

			<h4>Login : [LGOIN]</h4>
			<h4>Mot de passe : [PASSWORD]</h4>
			<h4 style="color: blue">https://www.rimenergy.com</h4>
		</div>
		<div style="clear: both;"></div>
	</div>
	<div class="message-shadow"
		style="background: transparent url(https://s3.amazonaws.com/flashypublic/mail-footer-bg.png) no-repeat center top; height: 24px; clear: both;"></div>
</div>

